thead{
	background-color: black !important;
	color: white !important;
}
 h2{
	 color:#004d40;
	 font-weight: 300;
 }

.temp a
 {
	 color:green !important;
	 font-weight: 400 !important;
	 font-size: large !important;
 }
